@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
          
:root {
  --primary: #1C1B1A;
  --secondary: #D4A373;
  --tercero-1: #F2C14E;
  --tercero-2: #21CE94;
  --tercero-3: #F4F1DE;
  --tercero-4: #772198;
  --tercero-5: #165131;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


body{
  width: 100%;
  height: 100%;
  background-color: #F4F1DE;
  padding-top: 120px;
}




/*  STYLING FOR WHOLE SITE*/
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #F4F1DE;
}

button{
    cursor: pointer;
    border: none;
    background: none;
}



/*NAVBAR STYLING*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #1C1B1A;
    
}

header .navbar{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo .logo-text{
    color: #F4F1DE;
    font-size: x-large;
    font-weight: 700;

}

.navbar .nav-menu{
    display: flex;
    gap: 20px;
}

.navbar .nav-menu .nav-link{
    padding: 10px 18px;
    color: #1C1B1A;
    background: #F2C14E;
    border-radius: 5px;
    transition: 0.3s ease;
}

.navbar .nav-menu .nav-link:hover{
    color: #165131;
    background: #F4F1DE;

}

.navbar :where(#menu-close-button, #menu-open-button){
    display: none;
 }
  

      /*********************Section***********************/
      .fot{
        width: 100%;
        height: 375px;
        background-image: url(../img/img4.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      }
      
       .fot2{
        width: 100%;
        height: 375px;
        display: flex;
        color: #D4A373;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        background-color: rgb(0 0 0 / 70%);

       }

       .section {
        margin-bottom: 50px;
    }

    .section-content{
        margin: 0 auto;
        padding: 0 20px;
        
    }

       /*******************MAIN************/
       main{
        width: 100%;
        margin-top: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-inline: 5px;
    }
        

       

       .section{
        border-top: 3px solid #ebebeb;
       }

      .section p,img{
        text-transform: capitalize;
        font-size: large ;
        text-align: justify;
        font-family: 'Times New Roman', Times, serif;
        line-height: 1.5;
        
      }


    .cards1{
        position: relative;
        width: 1100px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px;
    }

    .cards1 .mycard{
        position: relative;
        max-width: 300px;
        height: 150px;
        background: wheat;
        margin: 30px 10px;
        padding: 20px 15px;
        display: flex;
        flex-direction: column;
        box-shadow:  0 3px 50px rgba(0,0,0,0.5);
        transition: 0.4s ease-in-out;
        overflow: hidden;
    }

    .cards1 .mycard:hover{
        height: 35rem;
        max-height: 400px; /* Expansión controlada */
    }

    .cards1 .mycard .cimg{
        position: relative;
        width: 260px;   
        height: 200px;
        top: -60px;
        left: 20px;
        z-index: 1;
        box-shadow:  0 3px 50px #F2C14E;
    }

    .cards1 .mycard .cimg img{
        max-width: 100%;
        height: 100%;
        border-radius: 6px;
        
    }

    .cards1 .mycard .cdetail{
        position: relative;
        margin-top: -140px;
        padding: 10px 15px;
        text-align: center;
        color: var(--primary);
        font-family: monospace;
        visibility: hidden;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }

    .cards1 .mycard:hover .cdetail{
        visibility: visible;
        opacity: 1;
        margin-top: -50px;
    }




    /*FOOTER*/

    footer {
      background-color:#1C1B1A ;
      color: white;
      text-align: center;
      padding: 20px;
  }
  footer a {
      color: #ffa500;
      text-decoration: none;
  }


    /*MEDIA QUERY*/
    @media screen and (max-width:320px){
      .hero-image{
        width: 500px;
        height: 400px;
      }

      .cards1{
        display: block;
      }

    }

    @media screen and (max-width:768px){
  
        .cards1 {
            width: 100%;
            padding: 10px;
        }
    
        .cards1 .mycard {
            width: 45%; /* Deja un 5% de espacio entre las cards */
            margin: 10px;
        }
      }



    @media screen and (max-width:900px)
    
    {
       body{
        width: fit-content;
       }


      body.show-mobile-menu hader::before{
         content: "";
         position: fixed;
         left: 0;
         top: 0;
         height: 100%;
         width: 100%;
         backdrop-filter: blur(5px);
         background: rgba(0, 0, 0, 0.2);
      }
     
     
     .navbar :where(#menu-close-button, #menu-open-button){
         display: block;
         font-size: medium;
      }
  
      .navbar #menu-close-button{
         position: absolute;
         right: 30px;
         top: 30px;
      }
  
      .navbar #menu-open-button{
  color: #F4F1DE;
  
      }
    
    
     .navbar .nav-menu {
         display: block;
         position: fixed;
         left: -300px;
         top: 0;
         width: 300px;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         padding-top: 100px;
         background: #F4F1DE ;
  
     
     }
  
     body.show-mobile-menu .navbar .nav-menu{
         left: 0;
     }
  
     .navbar .nav-menu .nav-link {
         color: #1C1B1A;
         display: block;
         margin-top: 17px ;
  
        font-size: medium;
  
     
     }

    
     
  }

  @media screen and (max-width: 1440px) {
    .cards1 {
        width: 100%;
        padding: 20px;
    }

    .cards1 .mycard {
        width: 30%; /* 3 cards por fila */
        margin: 10px;
    }
}