<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us|Chaman:Luz Secreta</title>
    <link rel="stylesheet" href="/About us.css">
</head>
<body>
    <div class="navbar">
        <a href="/index.html">Inicio</a>
        <a href="/VP.html">Veladoras Personalizadas</a>
        <a href="/VS.html">Veladoras Sorpresa</a>
        <a href="/SP.html">Sanación Personalizada</a>
        <a href="/About us.html">Sobre Nosotros</a>

      </div>
      <br>
      <br>
      <br>


      <section class="fot">
        <div class="fot2">
            <h2>
                <p>Sobre Nosotros</p>
            </h2>
        </div>
    
      </section>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <main class="section-inner">
        <section class="section" id="nosotros">
           
            <p>En Chaman: Luz Secreta, nos inspiramos en la conexión espiritual y la tradición. Cada veladora está diseñada con amor y cuidado para ofrecerte momentos de paz y claridad.Creemos en el poder transformador de la energía positiva y la espiritualidad,nuestras veladoras son más que simples fuentes de luz: son un puente entre tus intenciones y el universo. Cada una de ellas está elaborada con ingredientes cuidadosamente seleccionados y energizadas con mensajes sorpresa que emergen al derretirse, recordándote que siempre hay una luz incluso en los momentos más oscuros.</p>
            <img src="/img/img4.jpg" alt="Historia de Chaman" style="width: 100%; max-width: 600px;">
            <br>
            <br>
            <br>

            <div class="section">
                <h2>Mision, Vision y Valores</h2>
                <br>
                <br>
                <div class="cards1">
                    <div class="mycard">
                        <div class="cimg">
                            <img  src="/img/img6.png" alt="">
                            
                        </div>
                        <div class="cdetail">
                            <h2>Mision</h2>
                            <p>Proporcionar veladoras únicas que armonicen el cuerpo, la mente y el espíritu, inspirando esperanza y bienestar en cada hogar.</p>
    
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="cimg">
                            <img src="/img/img7.png" alt="">
                        </div>
                        <div class="cdetail">
                            <h2>Vision</h2>
                            <p>Convertirnos en líderes del mercado de veladoras espirituales, siendo reconocidos por nuestra calidad, originalidad y compromiso con la sanación emocional y energética de nuestros clientes.</p>
    
                        </div>
                    </div>
                    <div class="mycard">
                        <div class="cimg">
                            <img src="/img/img8.png" alt="">
                        </div>
                        <div class="cdetail">
                            <h2>Valores</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accus</p>
    
                        </div>
                    </div>
                </div>
            </div>

           
        </section>


    </main>
    
       
</body>
</html>