<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us|Chaman:Luz Secreta</title>
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/About us.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar section-content">
            <a href="" class="nav-logo">
                <h2 class="logo-text">Chamán:Luz Secreta
                </h2>
            </a>
            <ul class="nav-menu">
                <button id="menu-close-button" class="fas fa-times">

                </button>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('VP') }}">Veladoras Personalizadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('VS') }}">Veladoras Sorpresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('SP') }}">Sanación Personalizada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('About_us') }}">Sobre Nosotros</a>
                </li>
            </ul>
            <button id="menu-open-button" class="fas fa-bars">
                    
            </button>
        </nav>
    </header>







      <section class="fot">
        <div class="fot2">
            <h2>
                <p>Sobre Nosotros</p>
            </h2>
        </div>
    
      </section>

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <main class="section-inner">
        <section class="section" id="nosotros">
           
            <p>En Chaman: Luz Secreta, nos inspiramos en la conexión espiritual y la tradición. Cada veladora está diseñada con amor y cuidado para ofrecerte momentos de paz y claridad. Creemos en el poder transformador de la energía positiva y la espiritualidad,nuestras veladoras son más que simples fuentes de luz: son un puente entre tus intenciones y el universo. Cada una de ellas está elaborada con ingredientes cuidadosamente seleccionados y energizadas con mensajes sorpresa que emergen al derretirse, recordándote que siempre hay una luz incluso en los momentos más oscuros.</p>
            <img src="{{ url_for('static', filename='img/img3.jpg') }}" alt="Historia de Chaman">

            <br>
            <br>
            <br>

            <div class="container">
                <div class="card__container">
                    <article class="card__article">
                        <img src="../static/img/mision.png" alt="" class="card__image">
                        <div class="card__data">
                            <span class="card__description"> Misión
                            </span>
                            <h2 class="card__title">Proporcionar bienestar y conexión espiritual a través de
veladoras que al derretirse revelen mensajes ocultos, brindando
luz, inspiración y sanación a cada persona.</h2>
                        </div>
                    </article>
        
                    <article class="card__article">
                        <img src="../static/img/vision.png" alt="" class="card__image">
                        <div class="card__data">
                            <span class="card__description">Visión
                            </span>
                            <h2 class="card__title">Ser la marca líder en veladoras místicas y personalizadas,
reconocida por su innovación, calidad y capacidad de transmitir
mensajes de luz y transformación.</h2>
                        </div>
                    </article>
        
                    <article class="card__article">
                        <img src="../static/img/valores.png" alt="" class="card__image">
                        <div class="card__data">
                            <span class="card__description">Valores
                            </span>
                            <h2 class="card__title">Innovación - Fusionamos luz y mensaje en un solo
producto.
Espiritualidad - Nuestras velas están cargadas de
intención y significado.
Calidad - Usamos materiales naturales y procesos
cuidadosos.
Personalización - Cada veladora es única y hecha a
medida.
Sostenibilidad - Compromiso con el medio ambiente y el
bienestar colectivo.</h2>
                        </div>
                    </article>
                </div>
            </div>


           
        </section>


    </main>
    
       

   


<br>
<br>
<br>
<br>




<footer>
    <p>&copy; 2025 Chaman: Luz Secreta. Todos los derechos reservados.</p>
    <p>Síguenos en <a href="https://www.facebook.com/share/16Hm4Ncyon/">Facebook</a> e <a href="https://www.instagram.com/chaman_veladoras?igsh=MW54ZnB0djBoY2dyZQ%3D%3D&utm_source=qr" target="_blank">Instagram</a> </p>
</footer>


    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuOpenButton = document.querySelector("#menu-open-button");
            const menuCloseButton = document.querySelector("#menu-close-button");
    
            if (menuOpenButton && menuCloseButton) {  // Verifica que los botones existan antes de agregar eventos
                menuOpenButton.addEventListener("click", () => {
                    document.body.classList.toggle('show-mobile-menu');
                });
    
                menuCloseButton.addEventListener("click", () => menuOpenButton.click());
            }
        });
    </script>
</body>
</html>