<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chaman:Luz Secreta</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body> <!--HEADER/NAVBAR-->
    <header>
        <nav class="navbar section-content">
            <a href="" class="nav-logo">
                <h2 class="logo-text">Chamán:Luz Secreta
                </h2>
            </a>
            <ul class="nav-menu">
                <button id="menu-close-button" class="fas fa-times">

                </button>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('VP') }}">Veladoras Personalizadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('VS') }}">Veladoras Sorpresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('SP') }}">Sanación Personalizada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('About_us') }}">Sobre Nosotros</a>
                </li>
            </ul>
            <button id="menu-open-button" class="fas fa-bars">
                    
            </button>
        </nav>
    </header>


    <main>
       <section class="hero-section">
        <div class="section-content">
            <div class="hero-details">
                <h2 class="title">
                    Chamán: Luz Secreta
                </h2>
                <h3>¿Eres nuevo comprando veladoras?</h3>
            <p class="description">
              En Chaman:Luz Secreta nos enorgullece  ofrecer veladoras de la mas alta calidad y una linda experiencia. Nuestro compromiso  con la calidad, la excelencia y la experinecia es primordial para nosotrso. Únete a nuestra comunidad  y decubre cómo nuestros productos pueden enriquecer tu vida, brindándote un camino hacia el bienestar. 
            </p>

            <div class="buttons">
                <a href="" class="button order-now">Order Now</a>
                <a href="" class="button contact-us">Contact us</a>
            </div>
            </div>
            <div class="hero-image-wrapper">
                <img src="../static/img/Depresión.jpg" alt="" class="hero-image">
            </div>
        </div>
       </section>
    </main>






    <footer>
        <p>&copy; 2025 Chaman: Luz Secreta. Todos los derechos reservados.</p>
        <p>Síguenos en <a href="#">Facebook</a>, <a href="#">Instagram</a> y <a href="#">Twitter</a>.</p>
    </footer>




    <script>
        const menuOpenButton = document.querySelector("#menu-open-button");
        const menuCloseButton = document.querySelector("#menu-close-button")

        menuOpenButton.addEventListener("click", () =>{
            document.body.classList.toggle('show-mobile-menu');
        })

        menuCloseButton.addEventListener("click" , () => menuOpenButton.click());
    </script>
</body>
</html>