<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veladoras|Personalizadas</title>
    <link rel="stylesheet" href="VP.css">
</head>
<body>

    <div class="container1">
        <header>
            <div>
                <p>Chamán: Luz Secreta</p>
            </div>
            <div class="lupa">
                <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="#000000"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-search"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" /><path d="M21 21l-6 -6" /></svg>
            </div>
        </header>
    </div>
    <br>
    <br>
    <br>
    <br>
    
    
    <div class="navbar">
        <a href="index.html">Inicio</a>
        <a href="VP.html">Veladoras Personalizadas</a>
        <a href="VS.html">Veladoras Sorpresa</a>
        <a href="SP.html">Sanación Personalizada</a>
        <a href="About us.html">Sobre Nosotros</a>

       
      </div>


      <section class="fot">
        <div class="fot2">
            <h2>Veladoras Personalizadas</h2>
        </div>
      </section>

      <br>
      <br>
      <br>
      <br>

      <main>
        <section  class="vp">
            <h3>
                ¡Personaliza tu mensaje oculto!
            </h3>
        </section>
      </main>











      
      <footer>
        <p>&copy; 2025 Chaman: Luz Secreta. Todos los derechos reservados.</p>
        <p>Síguenos en <a href="#">Facebook</a>, <a href="#">Instagram</a> y <a href="#">Twitter</a>.</p>
    </footer>
</body>
</html>