<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veladoras|Sorpresas</title>
    <link rel="icon" type="image/png" href="../static/img/logo.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VS.css') }}">
</head>
<body>

   
    <header>
        <nav class="navbar section-content">
            <a href="" class="nav-logo">
                <h2 class="logo-text">Chamán:Luz Secreta
                </h2>
            </a>
            <ul class="nav-menu">
                <button id="menu-close-button" class="fas fa-times">

                </button>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('VP') }}">Veladoras Personalizadas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('VS') }}">Veladoras Sorpresa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('SP') }}">Sanación Personalizada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('About_us') }}">Sobre Nosotros</a>
                </li>
            </ul>
            <button id="menu-open-button" class="fas fa-bars">
                    
            </button>
        </nav>
    </header>
<br>
<br>
<br>
<br>
<br>
<br>

      <main>
        <section  class="vp">
            <h3>
                ¡Descubre un mensaje sorpresa!
            </h3>
        </section>

        <div class="container">
            <!--Filter Buttons-->
           <div class="filter_buttons">
            <button class="active" data-name="all">Mostrar todo</button>
            <button data-name="lavanda" style="background: #772198;">Lavanda Mística</button>
            <button data-name="limon" style="background: #3eca32;">Luz de Limón</button>
            <button data-name="te" style="background: #caa732;">Ritual Árbol de Té</button>
            <button data-name="menta" style="background: #48dbdb;">Brisa de Menta</button>
            <button data-name="naranja" style="background: #ff9102;" >Esplendor de Naranja</button>
            <button data-name="eucalipto" style="background: #48882f;">Bruma de Eucalipto</button>
           </div>
        </div>

        <!--IMAGE CARDS-->
        <div class="filterable_cards">
            <div class="card hide" data-name="lavanda">
               <img src="../static/img/lav1.jpeg" alt="Lavanda Mística">
               <div class="card_body">
                <h6 class="card_title">Lavanda Mística
                </h6>
                
               </div>
            </div>

            <div class="card hide" data-name="lavanda">
                <img src="../static/img/lav2.jpeg" alt="Lavanda Mística">
                <div class="card_body">
                 <h6 class="card_title">Lavanda Mística
                 </h6>
               
                </div>
             </div>

             <div class="card hide" data-name="lavanda">
                <img src="../static/img/lav3.jpeg" alt="Lavanda Mística">
                <div class="card_body">
                 <h6 class="card_title">Lavanda Mística
                 </h6>
                
                </div>
             </div>

              <div class="card hide" data-name="lavanda">
                <img src="../static/img/lav4.jpeg" alt="Lavanda Mística">
                <div class="card_body">
                 <h6 class="card_title">Lavanda Mística
                 </h6>
                
                </div>
             </div>

             <div class="card hide" data-name="eucalipto">
                <img src="../static/img/eu1.jpeg" alt="Bruma de Eucalipto">
                <div class="card_body">
                 <h6 class="card_title">Bruma de Eucalipto
                 </h6>
                 
                </div>
             </div>

             <div class="card hide" data-name="eucalipto">
                <img src="../static/img/eu2.jpeg" alt="Bruma de Eucalipto">
                <div class="card_body">
                 <h6 class="card_title">Bruma de Eucalipto
                 </h6>
               
                </div>
             </div>

             <div class="card hide" data-name="eucalipto">
                <img src="../static/img/eu3.jpeg" alt="Bruma de Eucalipto">
                <div class="card_body">
                 <h6 class="card_title">Bruma de Eucalipto
                 </h6>
             
                </div>
             </div>

              <div class="card hide" data-name="eucalipto">
                <img src="../static/img/eu5.jpeg" alt="Bruma de Eucalipto">
                <div class="card_body">
                 <h6 class="card_title">Bruma de Eucalipto
                 </h6>
               
                </div>
             </div>

              <div class="card hide" data-name="eucalipto">
                <img src="../static/img/eu4.jpeg" alt="Bruma de Eucalipto">
                <div class="card_body">
                 <h6 class="card_title">Bruma de Eucalipto
                 </h6>
               
                </div>
             </div>

             <div class="card hide" data-name="naranja">
                <img src="../static/img/naran1.jpeg" alt="Esplendor de Narnaja">
                <div class="card_body">
                 <h6 class="card_title">Esplendor de Narnaja
                 </h6>
                
                </div>
             </div>

             <div class="card hide" data-name="naranja">
                <img src="../static/img/naran2.jpeg" alt="Esplendor de Narnaja">
                <div class="card_body">
                 <h6 class="card_title">Esplendor de Narnaja
                 </h6>
                
                </div>
             </div>

             
             <div class="card hide" data-name="naranja">
                <img src="../static/img/naran5.jpeg" alt="Esplendor de Narnaja">
                <div class="card_body">
                 <h6 class="card_title">Esplendor de Narnaja
                 </h6>
              
                </div>
             </div>

             
             <div class="card hide" data-name="naranja">
                <img src="../static/img/naran4.jpeg" alt="Esplendor de Narnaja">
                <div class="card_body">
                 <h6 class="card_title">Esplendor de Narnaja
                 </h6>
                
                </div>
             </div>

             
             <div class="card hide" data-name="naranja">
                <img src="../static/img/naran3.jpeg" alt="Esplendor de Narnaja">
                <div class="card_body">
                 <h6 class="card_title">Esplendor de Narnaja
                 </h6>
               
                </div>
             </div>

             <div class="card hide" data-name="limon">
                <img src="../static/img/lim1.jpeg" alt="Luz de limon">
                <div class="card_body">
                 <h6 class="card_title">Luz de limón
                 </h6>
               
                </div>
             </div>

              <div class="card hide" data-name="limon">
                <img src="../static/img/lim2.jpeg" alt="Luz de limon">
                <div class="card_body">
                 <h6 class="card_title">Luz de limón
                 </h6>
               
                </div>
             </div>

              <div class="card hide" data-name="limon">
                <img src="../static/img/lim3.jpeg" alt="Luz de limon">
                <div class="card_body">
                 <h6 class="card_title">Luz de limón
                 </h6>
               
                </div>
             </div>

             <div class="card hide" data-name="menta">
                <img src="../static/img/ment1.jpeg" alt="Brisa de Menta">
                <div class="card_body">
                 <h6 class="card_title">Brisa de Menta
                 </h6>
              
                </div>
             </div>

             <div class="card hide" data-name="menta">
                <img src="../static/img/ment2.jpeg" alt="Brisa de Menta">
                <div class="card_body">
                 <h6 class="card_title">Brisa de Menta
                 </h6>
              
                </div>
             </div>

              <div class="card hide" data-name="menta">
                <img src="../static/img/ment3.jpeg" alt="Brisa de Menta">
                <div class="card_body">
                 <h6 class="card_title">Brisa de Menta
                 </h6>
               
                </div>
             </div>

              <div class="card hide" data-name="menta">
                <img src="../static/img/ment4.jpeg" alt="Brisa de Menta">
                <div class="card_body">
                 <h6 class="card_title">Brisa de Menta
                 </h6>
              
                </div>
             </div>

             <div class="card hide" data-name="te">
                <img src="../static/img/arb1.jpeg" alt="Ritual Arbol de Te">
                <div class="card_body">
                 <h6 class="card_title">Ritual Árbol de Té
                 </h6>
            
                </div>
             </div>

             <div class="card hide" data-name="te">
                <img src="../static/img/arb2.jpeg" alt="Ritual Arbol de Te">
                <div class="card_body">
                 <h6 class="card_title">Ritual Árbol de Té
                 </h6>
               
                </div>
             </div>

             <div class="card hide" data-name="te">
                <img src="../static/img/arb3.jpeg" alt="Ritual Arbol de Te">
                <div class="card_body">
                 <h6 class="card_title">Ritual Árbol de Té
                 </h6>
                
                </div>
             </div>

             <div class="card hide" data-name="te">
                <img src="../static/img/arb4.jpeg" alt="Ritual Arbol de Te">
                <div class="card_body">
                 <h6 class="card_title">Ritual Árbol de Té
                 </h6>
                
                </div>
             </div>

             <div class="card hide" data-name="te">
                <img src="../static/img/arb5.jpeg" alt="Ritual Arbol de Te">
                <div class="card_body">
                 <h6 class="card_title">Ritual Árbol de Té
                 </h6>
               
                </div>
             </div>
        </div>
      </main>















      <footer>
        <p>&copy; 2025 Chaman: Luz Secreta. Todos los derechos reservados.</p>
        <p>Síguenos en <a href="https://www.facebook.com/share/16Hm4Ncyon/">Facebook</a> e <a href="https://www.instagram.com/chaman_veladoras?igsh=MW54ZnB0djBoY2dyZQ%3D%3D&utm_source=qr" target="_blank">Instagram</a> </p>
    </footer>

      
      <script>
        document.addEventListener("DOMContentLoaded", () => {
            const menuOpenButton = document.querySelector("#menu-open-button");
            const menuCloseButton = document.querySelector("#menu-close-button");
    
            if (menuOpenButton && menuCloseButton) {  // Verifica que los botones existan antes de agregar eventos
                menuOpenButton.addEventListener("click", () => {
                    document.body.classList.toggle('show-mobile-menu');
                });
    
                menuCloseButton.addEventListener("click", () => menuOpenButton.click());
            }
        });
    </script>

<script>
    //SELECT ALL FILTER BUTTONS AND FILTERABLE CARDS
    const filterButtons = document.querySelectorAll(".filter_buttons button");
    const filterableCards = document.querySelectorAll(".filterable_cards .card");

    //DEFINE THE FILTERABLE CARDS FUNCTION 
    const filterCards = e => {
        document.querySelector(".active").classList.remove("active"); 
        e.target.classList.add("active");
       
        //ITERATE OVER EACH FILTERABLE CARD
        filterableCards.forEach(card => {
            //ADD "hide" CLASS TO HIDE THE CARD INITIALLY
           card.classList.add("hide");
          //CHECK IF THE CARD MATCHES THE SELECTED FILTER OR "all" IS SELECTED
           if(card.dataset.name === e.target.dataset.name || e.target.dataset.name === "all"){
            card.classList.remove("hide");
           }
        });
    };
    //ADD CLICK EVENT LISTENER TO EACH FILTER BUTTON
    filterButtons.forEach(button => button.addEventListener("click", filterCards));

</script>


</body>
</html>