<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veladoras|Sorpresas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/VS.css') }}">
</head>
<body>

   
    <br>
    <br>
    <br>
    <br>
    
    
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <div class="navbar-nav">
                <a class="nav-link" href="{{ url_for('index') }}">Inicio</a>
                <a class="nav-link" href="{{ url_for('VP') }}">Veladoras Personalizadas</a>
                <a class="nav-link" href="{{ url_for('VS') }}">Veladoras Sorpresa</a>
                <a class="nav-link" href="{{ url_for('SP') }}">Sanación Personalizada</a>
                <a class="nav-link" href="{{ url_for('About_us') }}">Sobre Nosotros</a>
            </div>
        </div>
    </nav>


      <section class="fot">
        <div class="fot2">
            <h3>Veladoras Sorpresa</h3>
        </div>
      </section>

      <br>
      <br>
      <br>
      <br>

      <main>
        <section  class="vp">
            <h3>
                ¡Descubre un mensaje sorpresa!
            </h3>
        </section>
      </main>











      
      <footer>
        <p>&copy; 2025 Chaman: Luz Secreta. Todos los derechos reservados.</p>
        <p>Síguenos en <a href="#">Facebook</a>, <a href="#">Instagram</a> y <a href="#">Twitter</a>.</p>
    </footer>
</body>
</html>